version: '3.8'

services:
  app:
    build: .
    container_name: guap
    restart: unless-stopped
    ports:
      - "8000:8000"
    # env_file:
    #   - .env
    # Раскомментируйте выше, если создали файл .env
    # Или используйте environment ниже
    volumes:
      - ./files:/app/files
    environment:
      - PORT=8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

